@use "./variables" as *;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// USING MIXIN W/ DEFAULT STYLING (example below)
// @include flex(row, flex-start, stretch);
// @include flex(column, flex-start, stretch);

@mixin primary-button-styling-mobile {
  height: $button-height-mobile;
  //padding: $button-width-padding;
  background-color: $interactive-elements-color;
  color: $global-white-color;
  border: none;
  border-radius: $button-border-radius;
}

//mobile text styles
@mixin body-medium-mobile {
  font-size: 0.813rem;
  line-height: 1.25rem;
}

@mixin body-small-mobile {
  font-size: 0.688rem;
  line-height: 1rem;
}

@mixin table-header-tablet {
  font-size: 0.75rem;
  line-height: 1.125rem;
}
