// FONT
$primary-font: "Titillium Web", sans-serif;
$font-semibold: 600;
$font-regular: 400;

// FONT SIZE + HEIGHT
$body-small-mobile: 11px;
$body-medium-mobile: 13px;
$body-large-mobile: 15px;

$body-small-tablet: 12px;
$body-medium-tablet: 14px;
$body-large-tablet: 16px;

// PRIMARY COLORS
$global-text-color: #131826;
$interactive-elements-color: #2e66e5;
$global-white-color: #ffffff;

// SECONDARY COLORS
$table-column-header-color: #5c667e; //SLATE
$placeholder-text-color: #5c667e;
$outlines-dividers-borders-tablesorting-color: #bdc5d5;

//BACKGROUND COLORS
$nav-background-color: #232940;
$CTA-hover-button-color: #232940;
$page-background-color: #f7f8f9;
$table-column-header-background-color: #f7f8f9;
$CTA-background-color: #f7f8f9;

//SUPPORTING COLORS
$instock-label-color: #158463;
$out-of-stock-label-color: #c94515;
$error-delete-color: #c94515;

//BREAKPOINTS
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//MARGINS
$margin-mobile: 1rem;
$margin-tablet: 1.5rem;
$margin-desktop: auto;

//PADDING

$padding-increment: 8px;
$h1-padding: 24px;
$spacing-between-elements: 16px;

$padding-increment: 0.5rem;
$padding-mobile: 1rem;


//BUTTONS
$button-height-mobile: 36px;
$button-height-tablet: 38px;

$button-width-padding: 16px;
$button-border-radius: 20px;

$text-chevy-spacing: 4px;

//RADIO BUTTON
$radio-group-label-spacing: 4px;
$radio-button-text-spacing: 8px;

//FORMS
$form-field-height-mobile: 36px;
$form-field-height-tablet: 38px;

$form-padding-sides: 16px;
$form-label-input-spacing: 4px;

$form-border-radius: 20px;

//TAGS
$tag-height-mobile: 24px;
$tag-height-tablet: 26px;
$tag-width-padding: 8px;

$tag-border-radius: 20px;
