@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.inventory-page {
	background-color: $page-background-color;
	padding: $padding-mobile;

	@include tablet {
		padding: 2rem;
	}

	@include desktop {
		padding: 2rem 8rem;
	}
}

.inventory-nav {
	display: none;

	@include tablet {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		padding: $padding-mobile;
	}

	&__header {
		@include tablet {
			width: 100%;
			flex: 2;
		}

		&--flex {
			display: flex;
			justify-content: space-around;
			width: 100%;
			flex: 3;
		}

		&--action {
			@include tablet {
				flex: 1;
				text-align: right;
			}
		}
	}
}

.inventory {
	background-color: $global-white-color;
}
