@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.warehouse-page {
  padding: 2rem;
  width: 100%;
}

.child {
  width: 80%;
  position: relative;
  top: -110px;
  left: 10%;
  box-shadow: $box-shadow;

  @include tablet {
    top: -150px;
  }
}
