@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  @include flex(row, center, center);
  color: $placeholder-text-color;
  height: 100px;
  background-color: $page-background-color;
}
